@import "tailwindcss";

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --font-primary: var(--font-minion), var(--font-serif);
  /* --font-secondary: var(--font-noto-sans), var(--font-sans-serif); */
}

:root {
  --primary: #fcfaf0;
  --secondary: #d8d5b1;
  --tertiary: #4d3939;
}

body {
  color: var(--color-white);
  background: var(--color-primary);
}
