@import "tailwindcss";

@theme {
  --text-6: 0.375rem; /* 6px */
  --text-6--letter-spacing: 0.84px;
  --text-6--line-height: 7px;

  --text-7: 0.4375rem; /* 7px */
  --text-7--letter-spacing: 0.98px;
  --text-7--line-height: 9px;

  --text-8: 0.5rem; /* 8px */
  --text-8--letter-spacing: 1.12px;
  --text-8--line-height: 10px;

  --text-9: 0.5625rem; /* 9px */
  --text-9--letter-spacing: 1.26px;
  --text-9--line-height: 9px;

  --text-10: 0.625rem; /* 10px */
  --text-10--letter-spacing: 1.4px;
  --text-10--line-height: 10px;

  --text-11: 0.6875rem; /* 11px */
  --text-11--letter-spacing: 1.54px;
  --text-11--line-height: 13px;

  --text-12: 0.75rem; /* 12px */
  --text-12--letter-spacing: 1.68px;
  --text-12--line-height: 15px;

  --text-13: 0.8125rem; /* 13px */
  --text-13--letter-spacing: 1.82px;
  --text-13--line-height: 13px;

  --text-14: 0.875rem; /* 14px */
  --text-14--letter-spacing: 1.96px;
  --text-14--line-height: 17px;

  --text-15: 0.9375rem; /* 15px */
  --text-15--letter-spacing: 2.1px;
  --text-15--line-height: 15px;

  --text-16: 1rem; /* 16px */
  --text-16--letter-spacing: 2.24px;
  --text-16--line-height: 19px;

  --text-20: 1.25rem; /* 20px */
  --text-20--letter-spacing: 2.8px;
  --text-20--line-height: 24px;

  --text-24: 1.5rem; /* 24px */
  --text-24--letter-spacing: 3.36px;
  --text-24--line-height: 29px;

  --text-32: 2rem; /* 32px */
  --text-32--letter-spacing: 4.48px;
  --text-32--line-height: 39px;

  --text-40: 2.5rem; /* 40px */
  --text-40--letter-spacing: 5.6px;
  --text-40--line-height: 49px;
}

@theme inline {
  --font-primary: var(--font-minion), var(--font-serif);
  --font-secondary: "Tamil Sangam MN", var(--font-sans);
}

@layer components {
  .section {
    @apply relative flex h-svh shrink-0 snap-center flex-col;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
