@import "tailwindcss";

@theme {
  --text-9: 0.5625rem; /* 9px */
  --text-9--letter-spacing: 1.26px;
  --text-9--line-height: 9px;

  --text-10: 0.625rem; /* 10px */
  --text-10--letter-spacing: 1.4px;
  --text-10--line-height: 10px;

  --text-12: 0.75rem; /* 12px */
  --text-12--letter-spacing: 1.68px;
  --text-12--line-height: 12px;

  --text-13: 0.8125rem; /* 13px */
  --text-13--letter-spacing: 1.82px;
  --text-13--line-height: 13px;

  --text-15: 0.9375rem; /* 15px */
  --text-15--letter-spacing: 2.1px;
  --text-15--line-height: 15px;

  --text-18: 1.125rem; /* 18px */
  --text-18--letter-spacing: 2.52px;
  --text-18--line-height: 18px;

  --text-20: 1.25rem; /* 20px */
  --text-20--letter-spacing: 2.8px;
  --text-20--line-height: 20px;

  --text-22: 1.375rem; /* 22px */
  --text-22--letter-spacing: 3.08px;
  --text-22--line-height: 22px;

  --text-24: 1.5rem; /* 24px */
  --text-24--letter-spacing: 3.36px;
  --text-24--line-height: 24px;

  --text-29: 1.8125rem; /* 29px */
  --text-29--letter-spacing: 4.06px;
  --text-29--line-height: 29px;
}

@theme inline {
  --font-primary: var(--font-minion), var(--font-serif);
  --font-secondary: "Tamil Sangam MN", var(--font-sans);
}

@layer components {
  .section {
    @apply relative flex h-svh shrink-0 snap-center flex-col;
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
